<!--Dashboard-->
    <div class="container">
        <h5 class="ml-3">Dashboard</h5>
    </div>

    <div class="col d-flex justify-content-center mt-4">
        <div class="row container">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card mb-3 border border-info">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4>STORAGE</h4>
                                <h6>500GB</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="material-icons text-info">
                                    storage
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-info">
                        <div class="align-items-center">
                            <p></p>
                        </div>
                    </div>
                        
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card mb-3 border border-secondary">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4>RAM</h4>
                                <h6>4GB</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="material-icons text-secondary">
                                    memory
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-secondary">
                        <div class="align-items-center">
                            <p></p>
                        </div>
                    </div>
                        
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card mb-3 border border-warning">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4>SESSIONS</h4>
                                <h6>180s</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="material-icons text-warning">
                                    timeline
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-warning">
                        <div class="align-items-center">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card mb-3 border border-success">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4>STATUS</h4>
                                <h6>online</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="material-icons text-success">
                                    signal_cellular_alt
                                </i>
            
                                <!-- if statement to differiante online/offline
                                    <i class="material-icons text-danger">
                                    report_problem
                                    </i>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-success">
                        <div class="align-items-center">
                            <p></p>
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
