{% extends 'core/base.html' %}
{% block sidebar %}
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Simba Money
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Logs</a>
                </li>
                <li>
                    <a href="#">Alerts</a>
                </li>
                <li>
                    <a href="#">Apps</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
            </ul>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <a href="#menu-toggle" id="menu-toggle">
                                <button class="material-icons text-info border-info">
                                    menu
                                </button>
                            </a> 
                            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button> -->
            
                            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto mt-0 my-lg-0">
                                
                                        <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                            
                                        <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                                    
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#tab2Id">Action</a>
                                                <a class="dropdown-item" href="#tab3Id">Another action</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#tab4Id">Action</a>
                                            </div>
                                        </li>
                                
                                    </ul>
                            </div>  
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
{% endblock sidebar %}