<!--Table-->
    <div class="col d-flex justify-content-center mt-4">
        <div class="row container ">
            <div class="col-lg-12 col-md-6">
                <div class="card mb-3 border-dark">
                    <div class="card-body">
                        <div class="card-title">USER LOGS</div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Actions</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td scope="row">Paul</td>
                                        <td>1s</td>
                                        <td>Pending</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td scope="row">Jesse</td>
                                        <td>2s</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td scope="row">Bruno</td>
                                        <td>5s</td>
                                        <td>Active</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
